
.main .main-head{
	grid-column: 1/9;
	padding: 50px 15px 10px;
	color: #575757;
}

.main .btn-add-pns{
	grid-column: 1/9;
	padding: 15px 15px 10px;

}

.btn-add-pns button{
	height: 30px;
}

.main .search-box-pns{
	grid-column: 1/9;
	grid-row: 2;
		padding: 0 15px 10px;
}

.search-box-pns input{
	width: 75%;
	padding: 5px 10px;
	border
}
.search-box-pns button {
	height: 30px;
	transform: translate(-5px,0);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:none;
	background: var(--secondary);
}