/*variables;*/
:root{
	--primary : #F6F6F6;
	--secodary: #555BAF;
}
/*reset*/
body,p,a,ul,li{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 16px;
}
li {
	list-style-type: none;
}
/*fonts*/
@font-face{
	font-family: 'Roboto';
	src: url('../../assets/Roboto/roboto.ttf');
}
h1 {
font-weight: normal;
font-size: 1.3em;
}

h2 {
font-weight: normal;
font-size: 1.1em
}
h3 {
	font-weight: normal;
	font-size: 1.1em;
}

h4 {
font-size: 1em;
font-weight: normal;
}

.clearfix{
	clear: both;
}

/*base styles*/
body {
	background: var(--primary);
	-webkit-overflow-x : hidden;
	   -moz-overflow-x : hidden;
	    -ms-overflow-x : hidden;
	     -o-overflow-x : hidden;
	        overflow-x : hidden;

}


/*mobile styles*/


/*navbar*/

.grid {
	display: grid;
	grid-template-columns: repeat(8,1fr);
}
.nav{
	padding: 12px 10px 12px 3px;
	position: fixed;
	width: 100%;
	z-index: 4;
	box-sizing: border-box;
	color: white;
	background: var(--secodary);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

 .nav .pie {
 	width: 45px;
 	position: relative;
 	grid-column: 1/3;
 	width: 45px;
 	cursor: pointer;
 	
 }

  .nav .pie > div {
  	position: absolute;
  	top: 45%;
  	left: 25%;
  	width: 50%;
  	height: 3px;
  	background: #fff;
  	border-radius: 50px;
  	transition: all 0.3s linear;
  }


	
    .nav .pie .line-one {
    	top:25%;

    }

    .nav .pie .line-three {
    	top: 68%;
    }

    .nav .pie.active{

    }

     .nav .pie.active .line-one {
	 	transform: rotate(45deg);
	 	top: 45%;
	 	left:25%;

	 }

	 .nav .pie.active .line-two {
	  	opacity: 0;
	  }

	 .nav .pie.active .line-three {
	  	transform: rotate(-45deg);
	  	top: 45%;
	  	left: 25%;
	  }
		


	.nav h1 {
		grid-column: 4/6;
		margin: 0;
		text-align: center;
		font-size: 1.5em;
	}


	.nav  .logout {
		grid-column: 6/9;
		display: flex;
		justify-content: flex-end;
	}

	.logout .img-dashboard{
		border-radius: 50%;
	}
/*navbar*/


/*Sidebar*/

.background-sidebar-menu {
	position:fixed;
	height: 100%;
	width: 0;
	background: rgba(0,0,0,.5);
	z-index: 2;
	transition: .3s;
}

.background-sidebar-menu.active {
	width: 100%;
}

.sidebar-menu{
	height: 100%;
	width: 235px;
	position: fixed;
	z-index: 3;
	top:0;
	left: -235px;
	background-color: white;
	overflow-x: hidden;
	padding-top:70px;
	transition: 0.4s;
	display: flex;
	flex-flow: column;
}

.sidebar-menu a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	display: block;
	transition: 0.3s;
	cursor: pointer;
}

.sidebar-menu a i{
	padding-right: 10px;
}

.sidebar-menu.active{
	left: 0;
}

.sidebar-menu .head-title {
	display: none;
}

.sidebar-menu .item{
	position: relative;
	padding: 0 0 5px;
}

.sidebar-menu .item::before{
	content: '';
	position: absolute;
	width: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	opacity: 0;
	transition: .3s;
	height: 45px;
	background: var(--secodary);
}

.sidebar-menu .item:hover::before {
	opacity: 1;
}


.item .btn{
	color: #575757;
	font-size: .95em;
}

.item .btn:hover {
	color: var(--secodary);
	transition: .3s;
}

.item .sub-item{
	padding: 0 20px 0;
	max-height: 0;
	overflow: hidden;
	width: 200px;
	margin: 0 auto;
	/*border-radius: 15px;*/
	background: var(--secodary);
	transition: max-height .5s;
}

.item .sub-item::before{
	content: '';
	width: 10px;
	height: 10px;
	background: var(--secodary);
	position: absolute;
	top: 33px;
	left: 50px;
	opacity: 0;
	transform: rotate(45deg);
	transition: .2s;

}

.item .sub-item.active::before {
	opacity: 1;
}


.item .sub-item.active {
	max-height: 15em;
}

.sub-item a{
	color: white;
	margin: 10px 0;
	font-size: .85em;
	border-bottom: 1px solid white;
	transform: translate(0px,0);

}

.sign-out{

}

.drop-menu {
	position: absolute;
	right: 50px;
	top:12px;
	transform: rotate(0deg);
	transition: .3s;
}

.drop-menu.active{
	transform: rotate(90deg);
}

/*Sidebar*/

/*header*/

.header{
	display: none;
}

/*header*/


/*main*/
	.main{
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translate(-50%,0);
		width: 100%;
		/*background-color: white;*/
		box-sizing: border-box;
	}

/*main*/



/*PNS*/


.main .main-head{
	grid-column: 1/9;
	color: #2E2E2E;
	padding: 10px 0 0 20px;
}
.main .main-content{
	grid-column: 1/9;
	background: white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.main-content .btn-add-pns{
	grid-column: 1/9;
	padding: 25px 0 0 20px;

}

.btn-add-pns button{
	height: 35px;
	border-radius: 5px;
	border:none;
	width: 125px;
	background: var(--secodary);
	color: white;
}

.btn-add-pns button i {
	padding-right: 5px;
}

.main-content .search-box-pns{
	grid-column: 1/9;
	padding: 30px 0 20px 20px;
}

.search-box-pns .search-txt{
	width: 75%;
	padding: 10px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #C1C1C1;
	outline: none;
}
.search-box-pns .search-txt:focus{
	transition: .3s;
	box-shadow: 1px 1px 5px var(--secodary);
}
.search-box-pns .search-btn {
	height: 37px;
	width: 34px;
	transform: translate(-5px,0);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border:none;
	background-color: var(--secodary);
	color: white;
	
}

.table-list-pns{
	grid-column: 1/9;
}
/*PNS*/


@media screen and (min-width: 500px) {
	.main-content .btn-add-pns{
		grid-column: 1/4;
	}

	.main-content .search-box-pns{
		grid-column: 4/9;
		padding-top: 24px;

	}

}

@media screen and (min-width: 620px) {


}

@media screen and (min-width: 790px) {



}
/*tablet & laptop */
@media screen and (min-width: 960px) {
	
	.nav{
		display: none;
	}

	.sidebar-menu {
		left: 0;
		padding-top: 0;
	}

	.sidebar-menu.active {
		left: -250px;
	}

	.background-sidebar-menu {
		display: none;
	}


	.sidebar-menu .head-title {
		padding-bottom: 35px;
		padding-top: 30px;
		padding-left: 30px;
		display: block;
	}
	.head-title i{
		padding-right: 10px;
		color: var(--secodary);
	}

	.head-title h1 {
		color: var(--secodary);
	}

	.header {
		position: absolute;
		left: 235px;
		top:0;
		right: 0;
		background: var(--secodary);
		padding: 5px 10px 5px 10px;
		box-sizing: border-box;
		color: white;
		display: flex;
		justify-content: space-between;
		box-shadow: 1px 3px 5px rgba(0,0,0,.2);
	}
	

	.menu-title {
		grid-column: 1/5;
	}

	.header-img {
		grid-column: 8/9;
		padding: 10px 0px;
		width: 150px;
	}
	.menu-title {
		padding-left: 10px;
	}
	
	.menu-title h1 i{
		padding-right: 10px;
	}


	.header-img .header-img-default{
		border-radius: 50%;
		float:left;
		margin-right: 10px;
	}

	.header-img p {
		padding-top: 5px;
		font-size: 1em;
	}

	.header-img p::after{
		clear: both;
	}

	.main {
		position: relative;
		top: 70px;
		left: 235px;
		transform: translate(0,0);
		margin: 0 0;
		padding: 0 2%;
		width: 80%;
		margin-right: 50px;
		display: grid;
		
	}

	/*pns*/
	.main .main-head{
		grid-column: 1/9;
	}

	.main .main-content {
		grid-column: 1/9;
	}
	/*pns*/




/*desktop style*/
@media screen and (min-width: 1200px) {


}